{% extends "layout.html" %}
{% block content %}
  <div class="about_text">
    <div class="about_heading">Who We Are</div>
    	<div class="about_body">
    		<p>    	
          Founded in 1991, the Leonette M, and Fred T. Lanners Foundation is a small family foundation that supports organizations whose activities are most consistent with the Foundation's mission statement.
	    	</p>
	    </div>
	<div class="about_heading">Board of Directors</div>
	<div class="about_body">
		<ul style="list-style-type:square;">
			<li>John Carruth - Supreme Leader</li>
			<li>Alan Lanners - President</li>
			<li>Kathleen Lanners - Treasurer</li>
			<li>Carol Hockert - Secretary & Chair of the Board</li>
			<li>Robert Lanners - Director</li>
			<li>Aurelia Peschken - Director</li>
		</ul>
	</div>
  </div>
{% endblock content %}


