{% extends "layout.html" %}
{% block content %}

  <div class="about_text">
    <div class="about_heading">
      Grant Information
    </div>
    <div class="about_body">
      <p>
      <a href="{{ GrantPolicy }}">Grant Disbursement Policy</a>
      </p>
      <p>
      The grant application process is now online. Please follow the link below:
      </p>

      <a href="https://www.grantinterface.com/Common/LogOn.aspx?urlkey=lannersfoundation">https://www.grantinterface.com/Common/LogOn.aspx?urlkey=lannersfoundation</a>
      <br>
      <p>
        All letters of inquiry must be submitted through the link above.
      </p>
      <br>
      <b>
        TO ENSURE CONSIDERATION FOR A GRANT IN A GIVEN CALENDAR YEAR, THE ONLINE APPLICATION MUST BE SUBMITTED BETWEEN OCTOBER 1 AND MARCH 31 OF THAT YEAR.
      </b>


    </div>
  </div>
{% endblock content %}
