{% extends "layout.html" %}
{% block content %}
<div class="about_text">
	<div class="about_heading">Programs</div>
		<div class="about_body">
			<p>
        		The following organizations have received grants from the foundation:
        	</p>
    	</div>
<div class="borderBox">
<div class="flex-containerP">
  <div class="boxBack">
    <div class="box">
	      <ul style="list-style-type:circle">
	      	<li>Angel Foundation</li>
	      	<li>Banyan Community</li>
	      	<li>Bellis</li>
	      	<li>Best Prep</li>
	      	<li>Bridging</li>
	      	<li>Center of the American Experiment</li>
	      	<li>College Possible</li>
	      	<li>Concerned Women for America</li>
	      	<li>Donald McNeely Center, St. John's University</li>
	      	<li>Girl Scouts of Western Washington</li>
			<li>Highland Friendship Club</li>
		  	<li>Hillsdale College</li>	      	
	      </ul>
    </div>
  </div>  
  <div class="boxBack">
  <div class="box">
  	<ul style="list-style-type:circle;">
	  	<li>Intellectual Takeout</li>
	  	<li>Junior Achievement of the Upper Midwest</li>
	  	<li>Little Brothers - Friends of the Elderly</li>
	  	<li>Little Sisters of the Poor</li>
	  	<li>MacLaurinCSF</li>
	  	<li>MN Marriage/Engaged Encounter</li>
	  	<li>National Association of Scholars</li>
	  	<li>Northern Star Council, Boy Scout of America</li>
	  	<li>Rebuilding Together the Twin Cities</li>
	  	<li>Store to Door</li>
	  	<li>TLC Options for Women/Total Life Care</li>
	</ul>
  </div>
</div>
</div>
</div>

{% endblock content %}




<!-- 	<div class="textP">
	  <div class="heading0">Programs</div>
	  <div class="body0">
	    <p>     
	      The following organizations have received grants from the foundation:
	      <ul style="list-style-type:none">
	      	<li>Angel Foundation</li>
	      	<li>Banyan Community</li>
	      	<li>Bellis</li>
	      	<li>Best Prep</li> -->



