{% extends "layout.html" %}
{% block content %}
<div class="borderBox">
<div class="flex-containerW">
  <div class="boxBack">
    <div class="box">
      <div class="textHeader">
        Our Mission
        <br>
      </div>
        The Foundation supports charitable organizations whose activities are consistent with our belief in God, Catholicism, Judeo/Christian principles, family, morality, individual responsibility, economic freedom and constitutional government.
    </div>
  </div>  
  <div class="boxImg">
      <img src="{{ fredLee }}" class = FTLimg alt = "Fred and Lee">  
  </div>
</div>
</div>

{% endblock content %}
